.App {
  text-align: center;
  background-color: #F0FFF1;
  height: 100vh;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.carousel {
  width: 50%;
  margin: auto;
}
.carousel-item {
  background-color: rgb(250, 179, 169, .5);
  
  height: 50vh;
  margin: auto;
  
  
}

.carousel-item img {
  height: 100%;
  
  
}